# General
.DS_Store
.idea/
*.iml
*.log

# Gradle
.gradle/
build/
**/build/
local.properties

# Android Studio
captures/
.externalNativeBuild/
.cxx/
android/app/google-services.json

# Kotlin/Node common ignores
node_modules/
*.class
out/
